{% include base_path %}
<div class="page__footer-content">
  <div class="page__footer-copyright">
    <div class="Footer_inner_left">
      &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }} | Views are my own.
    </div>
    <div class="Footer_inner_right">
      <img src="/images/website_logo_no_bg.png" alt="Initials DH within Caduceus" style="float:right;width:32px;height:32px;">
    </div>
  </div>

  <div class="page__footer-translate">
    <div id="google_translate_element"></div>
  </div>
</div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: navigator.language, includedLanguages: 'en,es,fr,de,pt,zh,ja,ko,ar,el,ru,hi', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
