<footer>
  <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> Updated:</strong>  <span id="lastModified"></span></p>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var lastModifiedElement = document.getElementById("lastModified");
    var lastModifiedDate = new Date(document.lastModified);
    var options = { month: "long", day: "numeric", year: "numeric" };
    lastModifiedElement.textContent = lastModifiedDate.toLocaleDateString("en-US", options);
  });
</script>
